<div class="rounded_box">
  <h3>Add new Quote</h3>

  <% if not @quote.errors.full_messages.empty? %>
    <div class="alert alert-block">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <% @quote.errors.full_messages.each do |msg| %>
        <%= content_tag :span, msg %><br/>
      <% end %>
    </div>
  <% end %>

  <%= form_for @quote do |f| %>
    <div class="row">
      <div class='form-group'>
        <%= f.fields_for @quote.speaker do |field| %>
          <div class="col-md-2">
            <%= field.label :name, "Who?"%>
          </div>
          <div class="col-md-3">
            <%= field.text_field :name, :autocomplete => 'off', :class => 'form-control'%>
          </div>
        <%end%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class='form-group'>
        <%= f.fields_for @quote.speaker do |field| %>
          <div class="col-md-2">
            <%= field.label :quote, "Said What?"%>
          </div>
          <div class="col-md-3">
            <%= f.text_area :quote, :autocomplete => 'off', :class => 'quote-text-area'%>
          </div>
        <%end%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class='form-group'>
        <%= f.fields_for @quote.speaker do |field| %>
          <div class="col-md-2">
            <%= field.label :date_of_quote, "When?"%>
          </div>
          <div class="col-md-3">
            <%= f.date_select :date_of_quote, :value => @quote.date_of_quote.strftime('%m-%d-%Y'), :class => 'form-control'%>
          </div>
        <%end%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class='form-group'>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <%= f.submit "Save", :class => "btn btn-primary"%>
          </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        var availableTags = <%=Speaker.all(:select => :name).map{ |speaker| speaker[:name] }.to_json.html_safe %>;

        $('#quote_speaker_name').typeahead({
          source: availableTags
        });

      });
    </script>

  <%end%>
</div>